@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Merriweather", serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.86), rgba(0, 0, 0, 0.86)), url("../images/background-image-overlay.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #E2E2E2;
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
  position: relative;
  /* Firefox */
}

body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* Chrome/Safari/Webkit */
}

textarea,
input {
  outline: none;
}

hr {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: calc(3vw + 3vh);
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: calc(2.2vw + 2.2vh);
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: calc(1.5vw + 1.5vh);
}

h4 {
  font-family: "Merriweather", serif;
  font-size: calc(1.1vw + 1.1vh);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*  
  ##Device = Desktops,Laptops,Tablets, Ipads (portrait)
  ##Screen = B/w 768px to higher resolution desktops
*/
header {
  height: 15vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}

header .logo-container {
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .logo-container__circle {
  width: 5vw;
  height: 10vh;
  min-height: 55px;
  min-width: 62px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 3px #fff;
}

header .logo-container__setup {
  width: 100%;
  height: 70%;
  min-width: 48px;
  min-height: 35px;
}

header .company-name-container {
  width: 68vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .company-name-container__header {
  font-size: calc(0.8vw + 0.8vh);
  color: #E2E2E2;
}

header .company-name-container__tagline {
  font-size: calc(0.8vw + 0.8vh);
  color: #E2E2E2;
}

header .top-ui-container .menu-btn {
  display: none;
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

header .top-ui-container .menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #E2E2E2;
  transition: all 0.5s ease-in-out;
  /* Right Animation*/
}

header .top-ui-container .menu-btn__burger::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #E2E2E2;
  transition: all 0.5s ease-in-out;
}

header .top-ui-container .menu-btn__burger::after {
  content: '';
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: #E2E2E2;
  transition: all 0.5s ease-in-out;
}

header .top-ui-container .menu-btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
  /* Building Cross*/
}

header .top-ui-container .menu-btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}

header .top-ui-container .menu-btn__burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

header .top-ui-container .menu-btn__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.98;
  visibility: hidden;
  z-index: 100;
}

header .top-ui-container .menu-btn__overlay.open {
  visibility: visible;
}

header .top-ui-container .menu-btn__overlay .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;
  list-style-type: none;
  padding-right: 1rem;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
}

header .top-ui-container .menu-btn__overlay .menu-nav.open {
  transform: translateY(0);
}

header .top-ui-container .menu-btn__overlay .menu-nav__item {
  transform: translateX(100vh);
  transition: all 0.5s ease-in-out;
}

header .top-ui-container .menu-btn__overlay .menu-nav__item.open {
  transform: translateX(0);
}

header .top-ui-container .menu-btn__overlay .menu-nav__item.current > a {
  color: #a5a5a5;
}

header .top-ui-container .menu-btn__overlay .menu-nav__link {
  display: flex;
  font-size: calc(1.1vw + 1.1vh);
  text-transform: uppercase;
  padding: 1.5rem 0;
  transition: all 0.5s ease-in-out;
}

header .top-ui-container .menu-btn__overlay .menu-nav__link::hover {
  color: #a5a5a5;
}

header .top-ui-container ul {
  width: 17vw;
  display: flex;
  justify-content: space-between;
}

header .top-ui-container ul li {
  padding: 0rem 0.5rem;
  font-size: calc(0.8vw + 0.8vh);
}

header .top-ui-container ul li a {
  color: #E2E2E2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

header .top-ui-container ul li a i {
  margin-bottom: 0.5rem;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  scroll-snap-type: y mandatory;
}

main .main-left-container {
  position: fixed;
  top: 50%;
  left: 0;
  margin-top: -45vh;
  width: 15vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

main .main-left-container__nav-border {
  border: 2px solid #E2E2E2;
}

main .main-left-container__nav-border li {
  margin: 0.15rem;
  padding: 0.8rem;
  border: 1px solid #E2E2E2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(1.1vw + 1.1vh);
}

main .main-left-container__nav-border li a {
  color: #E2E2E2;
}

main .main-left-container__nav-border .left-nav-active,
main .main-left-container__nav-border .current,
main .main-left-container__nav-border li:hover {
  background-color: #E2E2E2;
  cursor: pointer;
  transform: scale(1.1);
}

main .main-left-container__nav-border .left-nav-active a,
main .main-left-container__nav-border .current a,
main .main-left-container__nav-border li:hover a {
  color: #8A8A8A;
}

main .main-center-container section {
  width: 79vw;
  height: 80vh;
  margin-top: 15vh;
  margin-left: 13vw;
  margin-right: 7vw;
  margin-bottom: 5vh;
  scroll-snap-align: center;
}

main .main-center-container__home {
  display: flex;
}

main .main-center-container__home__left {
  width: 55%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .main-center-container__home__left h1 {
  padding: 2rem 2rem 0;
  color: #a5a5a5;
}

main .main-center-container__home__left h3 {
  padding: 0 2rem 1rem;
  color: #E2E2E2;
}

main .main-center-container__home__left .call-to-action {
  margin: 2rem;
  border-left: 5px solid #E2E2E2;
  padding: .5rem;
  display: flex;
  flex-direction: column;
}

main .main-center-container__home__left .call-to-action p {
  padding: 0 .8rem .8rem;
  color: #E2E2E2;
  font-size: calc(0.6vw + 0.6vh);
  letter-spacing: 0.1rem;
}

main .main-center-container__home__left .call-to-action .button-default-web {
  background-color: transparent;
  border: 2px solid #E2E2E2;
  padding: 0.8rem 2rem;
  margin: 0 0.8rem;
  align-self: flex-start;
  color: #E2E2E2;
  font-size: calc(0.9vw + 0.9vh);
}

main .main-center-container__home__left .call-to-action .button-default-web:hover {
  color: #8A8A8A;
  background-color: #E2E2E2;
}

main .main-center-container__home__right {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main-center-container__home__right .card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main .main-center-container__home__right .card-container .card {
  margin: 1rem;
  padding: 1rem 2rem;
  border: 2px solid #E2E2E2;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #E2E2E2;
}

main .main-center-container__home__right .card-container .card h3 {
  font-size: calc(1.2vw + 1.2vh);
}

main .main-center-container__home__right .card-container .card p {
  font-size: calc(0.5vw + 0.5vh);
}

main .main-center-container__home__right .card-container .card i {
  font-size: calc(2.5vw + 2.4vh);
  padding: 1rem;
}

main .main-center-container__home__right .card-container .card:hover {
  color: #8A8A8A;
  background-color: #E2E2E2;
  cursor: pointer;
}

main .main-center-container .aboutUs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .main-center-container .aboutUs-container__title {
  border-bottom: 2px solid #E2E2E2;
}

main .main-center-container .aboutUs-container h1 {
  padding: 0rem 2rem;
  color: #a5a5a5;
}

main .main-center-container .aboutUs-container h4 {
  padding: 2rem 2rem 1rem;
}

main .main-center-container .aboutUs-container p {
  width: 80%;
  text-align: center;
  line-height: calc(1.5vw + 1.5vh);
}

main .main-center-container .services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .main-center-container .services-container__title {
  border-bottom: 2px solid #E2E2E2;
  padding: 0.5rem;
}

main .main-center-container .services-container__menu {
  width: 60%;
  padding: 1rem;
}

main .main-center-container .services-container__menu ul {
  display: flex;
  justify-content: space-between;
}

main .main-center-container .services-container__menu ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main-center-container .services-container__menu ul li a {
  color: #E2E2E2;
}

main .main-center-container .services-container__menu ul li.box {
  border: 2px solid #E2E2E2;
  padding: 0 1rem;
}

main .main-center-container .services-container__menu ul li.box:hover {
  background-color: #E2E2E2;
}

main .main-center-container .services-container__menu ul li.box:hover a {
  color: #8A8A8A;
}

main .main-center-container .services-container__menu ul li.active {
  color: #a5a5a5;
  font-size: calc(1.4vw + 1.4vh);
}

main .main-center-container .services-container__items {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
}

main .main-center-container .services-container__items__item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 1rem;
  cursor: pointer;
}

main .main-center-container .services-container__items__item__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main-center-container .services-container__items__item__img-container img {
  width: 15vw;
  height: 17vh;
}

main .main-center-container .services-container__items__item .img-overlay {
  width: 14vw;
  height: 15vh;
  border: 2px solid white;
  position: absolute;
  left: 50%;
  margin-left: -14vw;
  display: flex;
  justify-content: center;
  border-left: 2px solid white;
}

main .main-center-container .services-container__items__item__text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 15vh;
  width: 15vw;
  background-color: white;
}

main .main-center-container .services-container__items__item__text-container h5 {
  padding: 0.5rem;
  text-align: center;
  color: darkslategray;
}

main .main-center-container .services-container__items__item__text-container .button-default-web {
  padding: 0.3rem 1rem;
  border: 2px solid darkslategray;
  font-size: calc(0.5vw + 0.5vh);
  color: darkslategray;
}

main .main-center-container .services-container__items__item__text-container .button-default-web:hover {
  background-color: darkslategray;
  color: white;
}

main .main-center-container .services-container__items__item:hover .img-overlay {
  transform: scale(1.15);
}

main .main-center-container .services-container__items__item:hover .services-container__items__item__text-container {
  transform: scale(1.15);
}

main .main-center-container .services-container__text-header {
  color: #a5a5a5;
  font-size: calc(1.4vw + 1.4vh);
  display: none;
}

main .main-center-container .clients-container__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main-center-container .clients-container__header h4 {
  border-bottom: 2px solid #E2E2E2;
  padding: 0.5rem;
  margin: 1rem;
}

main .main-center-container .clients-container__main-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main-center-container .clients-container__main-content__img-container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(3, auto);
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

main .main-center-container .clients-container__main-content__img-container .flip-card {
  background-color: transparent;
  width: 15vw;
  height: 17vh;
  perspective: 500px;
}

main .main-center-container .clients-container__main-content__img-container .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

main .main-center-container .clients-container__main-content__img-container .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

main .main-center-container .clients-container__main-content__img-container .flip-card-front,
main .main-center-container .clients-container__main-content__img-container .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

main .main-center-container .clients-container__main-content__img-container .flip-card-front {
  color: black;
}

main .main-center-container .clients-container__main-content__img-container .flip-card-back {
  background-color: #E2E2E2;
  color: #8A8A8A;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main-center-container .clients-container__main-content__img-container img {
  width: 15vw;
  height: 17vh;
  padding: 0.3rem;
  border: 2px solid #E2E2E2;
}

main .main-center-container #contactUs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .main-center-container #contactUs .header h4 {
  border-bottom: 2px solid #E2E2E2;
  padding: 0.5rem;
  margin: 1rem;
}

main .main-center-container #contactUs .contactUs-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main-center-container #contactUs .contactUs-container__left {
  width: 50%;
  height: 90%;
  border: 2px solid #E2E2E2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .main-center-container #contactUs .contactUs-container__left .left-container__whole {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .main-center-container #contactUs .contactUs-container__left .left-container__whole .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 2rem 0rem;
}

main .main-center-container #contactUs .contactUs-container__left .left-container__whole .item input,
main .main-center-container #contactUs .contactUs-container__left .left-container__whole .item textarea {
  width: 100%;
  padding: 0.5rem;
  margin: 8px 0;
  border-radius: 4px;
  background-color: transparent;
  color: #E2E2E2;
  border: 2px solid #E2E2E2;
}

main .main-center-container #contactUs .contactUs-container__left .left-container__whole .item.itembtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main-center-container #contactUs .contactUs-container__left .left-container__whole .item.itembtn .button-default-web {
  padding: 0.3rem 1rem;
  font-size: calc(0.5vw + 0.5vh);
  border: 2px solid transparent;
  color: black;
  background-color: #E2E2E2;
  font-size: 1rem;
  transition: all 0.5s ease-in-out;
}

main .main-center-container #contactUs .contactUs-container__left .left-container__whole .item.itembtn .button-default-web:hover {
  background-color: transparent;
  border: 2px solid #E2E2E2;
  color: #E2E2E2;
}

main .main-center-container #contactUs .contactUs-container__right {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E2E2E2;
  padding: 1rem;
}

main .main-center-container #contactUs .contactUs-container__right .icon {
  color: black;
  font-size: calc(1.5vw + 1vh);
}

main .main-center-container #contactUs .contactUs-container__right .item {
  padding: 0.5rem;
  color: black;
  text-align: center;
}

main .main-right-container {
  position: fixed;
  top: 50%;
  right: 0;
  margin-top: -40vh;
  width: 5vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main-right-container__dot-nav ul li {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: #E2E2E2;
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main-right-container__dot-nav ul li a {
  width: 0.55rem;
  height: 0.55rem;
  border-radius: 50%;
  display: block;
}

main .main-right-container__dot-nav ul .current,
main .main-right-container__dot-nav ul li:hover {
  transform: scale(1.3);
  background-color: #E2E2E2;
}

main .main-right-container__dot-nav ul .current a,
main .main-right-container__dot-nav ul li:hover a {
  transform: scale(2);
  border: 1px solid #E2E2E2;
}

footer {
  height: 5vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  color: #E2E2E2;
  border-top: 1px solid #E2E2E2;
}

footer .footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  font-size: calc(0.6vw + 0.6vh);
}

footer .footer-container .social-media-container i {
  margin: 0 1.5rem;
}

#testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Slides */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* The dot/bullet/indicator container */
  /* The dots/bullets/indicators */
  /* Add a background color to the active dot/circle */
  /* Add an italic font style to all quotes */
  /* Add a blue color to the author */
}

#testimonials .header h4 {
  border-bottom: 2px solid #E2E2E2;
  padding: 0.5rem;
  margin: 1rem;
}

#testimonials .slideshow-container {
  position: relative;
  background: transparent;
  width: 100%;
  height: 80%;
}

#testimonials .mySlides {
  display: none;
  padding: 2rem;
  text-align: center;
}

#testimonials .mySlides .mySlides-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#testimonials .mySlides .mySlides-container .Name h3 {
  color: #a5a5a5;
}

#testimonials .mySlides .mySlides-container .Name p {
  padding: 0.5rem 0 1.5rem;
}

#testimonials .mySlides .mySlides-container img {
  border-radius: 50%;
  width: 10vw;
  height: 20vh;
  min-width: 100px;
  min-height: 100px;
  margin: 1rem;
}

#testimonials .mySlides .mySlides-container .testimonial-text {
  width: 80%;
}

#testimonials .mySlides .mySlides-container .testimonial-text p {
  line-height: 1.8rem;
}

#testimonials .prev,
#testimonials .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #E2E2E2;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

#testimonials .next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

#testimonials .prev:hover,
#testimonials .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

#testimonials .dot-container {
  text-align: center;
  padding: 20px;
}

#testimonials .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #E2E2E2;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#testimonials .active,
#testimonials .dot:hover {
  background-color: #8A8A8A;
}

#testimonials q {
  font-style: italic;
}

#testimonials .author {
  color: cornflowerblue;
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape),Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 480px) and (max-width: 720px), (min-width: 200px) and (max-width: 480px) {
  header .top-ui-container .menu-btn {
    display: block;
  }
  header .top-ui-container .menu-btn__overlay {
    display: block;
  }
  header .top-ui-container ul {
    display: none;
  }
  main .main-left-container {
    display: none;
  }
  main .main-center-container section {
    width: 100vw;
    height: auto;
    margin-top: 15vh;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5vh;
    scroll-snap-align: center;
  }
  main .main-center-container__home {
    display: block;
  }
  main .main-center-container__home__left {
    width: 100%;
    align-items: center;
    height: 80vh;
  }
  main .main-center-container__home__left .call-to-action {
    border-left: 0px;
  }
  main .main-center-container__home__left .call-to-action .button-default-web {
    align-self: center;
  }
  main .main-center-container__home__right {
    width: 100%;
    height: 80vh;
  }
  main .main-center-container .services-container__menu {
    display: none;
  }
  main .main-center-container .services-container__items {
    z-index: 1;
    width: 100%;
    display: block !important;
  }
  main .main-center-container .services-container__items__item__img-container img {
    width: 30vw;
    height: 20vh;
  }
  main .main-center-container .services-container__items__item .img-overlay {
    width: 28vw;
    height: 18vh;
    left: 50%;
    margin-left: -28vw;
  }
  main .main-center-container .services-container__items__item__text-container {
    height: 18vh;
    width: 28vw;
  }
  main .main-center-container .services-container__text-header {
    display: block;
  }
  main .main-center-container .clients-container__main-content {
    position: relative;
    left: 5vw;
    margin: 1rem;
  }
  main .main-center-container .clients-container__main-content__img-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  main .main-center-container .clients-container__main-content__img-container .flip-card {
    background-color: transparent;
    width: 35vw;
    height: 17vh;
    perspective: 500px;
  }
  main .main-center-container .clients-container__main-content__img-container img {
    width: 35vw;
  }
  main .main-right-container {
    display: none;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles 
  ##Screen = B/w 200px to 479px
*/
@media (min-width: 200px) and (max-width: 480px) {
  header .company-name-container {
    display: none;
  }
}
