@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Merriweather", serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.86), rgba(0, 0, 0, 0.86)), url("../images/background-image-overlay.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #E2E2E2;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  position: relative;
  /* Firefox */
}

body ::-webkit-scrollbar {
  display: none;
}

textarea,
input {
  outline: none;
}

hr {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: calc(3vw + 3vh);
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: calc(2.2vw + 2.2vh);
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: calc(1.5vw + 1.5vh);
}

h4 {
  font-family: "Merriweather", serif;
  font-size: calc(1.1vw + 1.1vh);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
